<h1>Editar Reserva</h1>

<%= render 'form', reserve: @reserve %>

<%= link_to 'Mostrar', @reserve, class: "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', reserves_path, class: "btn btn-primary btn-sm" %>
