<p id="notice"><%= notice %></p>

<h1>Laboratórios</h1><br>


<%= link_to 'Cadastrar', laboratory_laboratorios_path, :class => 'btn btn-default btn-xs' %>
<%= link_to 'Reservas', reserves_path, :class => 'btn btn-default btn-xs' %>
<%= link_to 'Solicitações de produtos', reserve_solicitations_path, :class => 'btn btn-default btn-xs' %>
<br><br>