<h1>Editing Laboratory</h1>

<%= render 'form', laboratory: @laboratory %>

<%= link_to 'Mostrar', @laboratory, class: "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', laboratories_path, class: "btn btn-primary btn-sm" %>
