<h1>Editing Laboratory</h1>

<%= render 'form', laboratory: @laboratory %>

<%= link_to 'Mostrar', @laboratory, class: "btn btn-default btn-xs" %> |
<%= link_to 'Voltar', laboratories_path, class: "btn btn-default btn-xs" %>
