<p id="notice"><%= notice %></p>

<h1>Laboratórios</h1>


<%= link_to 'Cadastrar', laboratory_laboratorios_path, :class => 'btn btn-primary btn-sm' %>
<%= link_to 'Reservas', reserves_path, :class => 'btn btn-primary btn-sm' %>
<br>