<h1>Novo Laboratorio</h1>

<%= render 'form', laboratory: @laboratory %>

<%= link_to t('.new', :default => t("Voltar")),
            laboratory_laboratorios_path, :class => 'btn btn-primary btn-sm' %>
