<h1>Editar Entrada</h1>

<%= render 'form', input: @input %>

<%= link_to 'Mostrar', @input, class: "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', inputs_path, class: "btn btn-primary btn-sm" %>
