<p id="notice"><%= notice %></p>

<h1>Usuários</h1>

<table border="1">
  <thead>
    <tr>
      <th>&nbsp;Email:</th>
      <th>&nbsp;Permissão:&nbsp;&nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

