 		<div class="nested-fields">
          <div class="field">
            <%= f.label :tag, "Etiqueta" %>
            <%= f.text_field :tag, class: "patrimony-field" %>
            <%= link_to_remove_association('Remover', f) %>
          </div>
        </div>