<p id="notice"><%= notice %></p>
<div class="center">
<h2>GENIS - Gestão de Estoque NIS</h2>
</div>
<div class="center"><%= render "/products/buscar" %></div>
<div class="center"><%= render "/stocks/buscar" %></div>
