<p id="notice"><%= notice %></p>

<div class="center">
<h2>GENIS - Gestão de Estoque NIS</h2>
</div>
<div class="center">
<%= form_tag(products_path, method: :get) do %>
<%= text_field_tag 'search', nil, placeholder: 'Pesquisar produto...' %>
<%= submit_tag "Produtos" %>
<% end %>
</div><br>
<div align="justify"> 
<font face="Arial", color="black", size="2px">
O <b>Núcleo Integrado de Saúde (NIS)</b> promove a interdisciplinaridade por meio da <b>DeVry | Fanor</b>, juntamente às outras colaborações acadêmicas do grupo <b>DeVry</b> como <b>Ross School of Medicine, Ross School de Veterinary e Chamberlain School of Nursing</b>, centrando a saúde como um substancial valor humano, bem como em todos os âmbitos socioeconômicos e culturais.<br><br>

O <b>NIS</b> promove a saúde em locais com recursos limitados, incentivando o compromisso dos estudantes, professores e parceiros de diversas disciplinas para tratar as doenças mais presentes nas comunidades. O <b>NIS</b> enriquece a missão acadêmica da <b>DeVry | Fanor</b>, enfatizando a pesquisa e a extensão, buscando construir colaborações duradouras dentro do grupo <b>DeVry | Brasil</b> e no mundo.<br><br>

Atualmente, o <b>NIS</b> contempla atividades voltadas aos estudantes dos cursos de Psicologia, Fisioterapia, Nutrição e Educação Física, com atendimento gratuito.<br><br>

<b>Atendimentos à comunidade:</b><br>

    Fisioterapia e hidroterapia;<br>
    Avaliação nutricional;<br>
    Avaliação física;<br>
    Atendimento psicológico, plantão psicológico e psicodiagnóstico.<br><br>

<b>Atendimentos por semestre:</b><br>

    <b>Fisioterapia</b> – média de 96 atendimentos;<br>
    <b>Hidroterapia</b> – média de 27 atendimentos;<br>
    <b>Psicologia</b> – média de 56 atendimentos;<br>
    <b>Nutrição</b> – média de 84 atendimentos.<br>
</font>
</div>