<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Mostrar', @category, class: "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', categories_path, class: "btn btn-primary btn-sm" %>
